* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: auto;
}

h1 {
  margin-bottom: 2.5rem;
}

.column {
  margin-bottom: 2.5rem;
}

.icon-buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 1rem;
  padding-bottom: 2.5rem;
}

.sized-button {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 2.5rem;
}

.color-valiation {
  display: flex;
  margin-bottom: 3rem;
}

.colors {
  margin-right: 2.5rem;
}
